@import "compass/css3";

body {
  background-image: url(images/retina_wood.png);
}
.mainArea {
  margin: 0 auto;
  width: 1600px;
  
  .sortable {
    min-height: 800px;
  }
  
  .addBtn {
    margin-left: 20px;
  }  

  .sortable { 
      list-style-type: none; 
      margin: 0;
      padding: 0; 
      width: 100%;
      border: 1px solid grey;
	    border-radius: 20px;
      background-image: url(images/cork.jpg);
      @include single-box-shadow;;
               
      }
      
      .inTodo {
        border-radius: 20px 0px 0px 20px;    
      } 
      .inDone  {
       border-radius: 0px 20px 20px 0px;  
      }
      .inProgress{
        border-radius: 0px; 
      } 
     .sortable li { 
       margin: 3px; 
       padding: 1px; 
       float: left; 
       width: 100px; 
       height: 90px; 
       font-size: 1em; 
       text-align: center;
        border: 2px solid grey;
        border-radius: 20px;
        background-color: white;
        opacity: 0.8;
        color: black;
          .todoTitle {
            display: block;              
          }
          
          .todoDescription {
              font-size: 0.8em;
              display: block;            
          }
          
      }
  }
  
  .row {
    margin-left: 0;
  }  
  
  
