/* line 3, ../sass/style.scss */
body {
  background-image: url(images/retina_wood.png);
}

/* line 6, ../sass/style.scss */
.mainArea {
  margin: 0 auto;
  width: 1600px;
}
/* line 10, ../sass/style.scss */
.mainArea .sortable {
  min-height: 800px;
}
/* line 14, ../sass/style.scss */
.mainArea .addBtn {
  margin-left: 20px;
}
/* line 18, ../sass/style.scss */
.mainArea .sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid grey;
  border-radius: 20px;
  background-image: url(images/cork.jpg);
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
/* line 30, ../sass/style.scss */
.mainArea .inTodo {
  border-radius: 20px 0px 0px 20px;
}
/* line 33, ../sass/style.scss */
.mainArea .inDone {
  border-radius: 0px 20px 20px 0px;
}
/* line 36, ../sass/style.scss */
.mainArea .inProgress {
  border-radius: 0px;
}
/* line 39, ../sass/style.scss */
.mainArea .sortable li {
  margin: 3px;
  padding: 1px;
  float: left;
  width: 100px;
  height: 90px;
  font-size: 1em;
  text-align: center;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  opacity: 0.8;
  color: black;
}
/* line 52, ../sass/style.scss */
.mainArea .sortable li .todoTitle {
  display: block;
}
/* line 56, ../sass/style.scss */
.mainArea .sortable li .todoDescription {
  font-size: 0.8em;
  display: block;
}

/* line 64, ../sass/style.scss */
.row {
  margin-left: 0;
}
